@tailwind base;
@tailwind components;
@tailwind utilities;

.typing-effect {
  border-right: .15em solid orange; /* The typewriter cursor */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  overflow-wrap: break-word; /* Allows the text to break onto next line */
  animation:
    typing 3.5s steps(40, end), /* Speed/duration of the typing each step */
    blink-caret .75s step-end infinite; /* Speed/duration of the cursor blinking */
}

@media (max-width: 600px) {
  .typing-effect {
    font-size: 14px;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    width: auto /* Ensure the text remains visible within its container */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .typing-effect {
    font-size: 18px;
    white-space: nowrap;
    overflow-x: hidden;
    animation:
      marquee 20s linear infinite;
  }
}

@media (min-width: 1025px) {
  .typing-effect {
    font-size: 24px;
    white-space: nowrap;
    animation:
      typing 3.5s steps(40, end), /* Speed/duration of the typing each step */
      blink-caret .75s step-end infinite; /* Speed/duration of the cursor blinking */
  }
}

